<!DOCTYPE html>
<html lang="pl-PL">
  <head>
    <title>Dashboard</title>
    <link rel="stylesheet" type="text/css" href="/css/dashboard.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"
      integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog=="
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/css/console.css" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>

  <body>
    <div class="container">
      <%- include('./models/sidebar') %>
      <div class="main-content">
        <h1>Dashboard</h1>
        <div class="computer-cards">
          <!-- Online Clients -->

          <% for(let i = 0; i < clients.length; i++){ %>
            <%- include('./models/computercard',{id: clients[i].id, clientname: clients[i].name, ip: clients[i].ip,version: clients[i].version}) %>
          <% } %>

          <!-- Offline Clients -->
          <% for(let i = 0; i < offlineclients.length; i++){ %>
            <%- include('./models/offlinecomputercard',{clientname: offlineclients[i]}) %>
          <% } %>
        </div>
      </div>
    </div>
    <script src="/js/dashboard.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.4.1/socket.io.js"></script>
    <script src="/js/console.js"></script>
  </body>
</html>
