<!DOCTYPE html>
<html lang="pl-PL" >
  <head>
    <title>Dashboard</title>
    <link rel="stylesheet" type="text/css" href="/css/dashboard.css" />
    <link rel="stylesheet" type="text/css" href="/css/ftp.css" />
    <link rel="stylesheet" href="/css/console.css" />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"
      integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog=="
      crossorigin="anonymous"
    />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>

  <body >
    <video autoplay loop id="bg">
      <source src="bg.mp4" type="video/mp4">
    </video>
    <video muted autoplay loop id="bg1">
      <source src="bg.mp4" type="video/mp4">
    </video>

    <div class="container" id="upload_area">
      <div id="courtine">
        <h1 id="upload_text" style="display: none;">Upuść aby przesłać plik</h1>
      </div>
      <%- include('./models/sidebar') %>
      <div class="main-content" >
        <h1>FTP </h1>
        <div class="computer-cards" id="cards">
    

          <% for(let i = 0; i < files.length; i++){ %>
            <%- include('./models/filecard',{filename: files[i], size: sizes[i], view: false}) %>
          <% } %>
        </div>
      </div>
    </div>
    <script src="/js/ftp.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.4.1/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
    <script src="/js/socketInit.js"></script>
  </body>
</html>
