<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="/css/login.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <div class="login-container">
      <form method="post" action="/">
        <h1>Login</h1>

        <label for="username">Login:</label>
        <input type="text" id="username" name="username" />
        <label for="password">Haslo:</label>
        <input type="password" id="password" name="password" />
        <button type="submit">Zaloguj</button>
      </form>
    </div>
  </body>
</html>
