<!DOCTYPE html>
<html lang="pl-PL">
  <head>
    <title>Dashboard</title>
    <link rel="stylesheet" type="text/css" href="/css/dashboard.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"
      integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog=="
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/css/console.css" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <%- include('./models/scripts') %>
  </head>

  <body>
    <div class="container">
      <%- include('./models/sidebar') %>
      <div class="main-content">
        <h1>Ustawienia</h1>

        <form action="" method="post">
          <div class="settings-card">
            <span>Hasło do panelu:</span>
            <input type="password" name="password"/>
            <br>
            <span>Częstotliwość tworzenia screenshotów VNC:</span>
            <input type="number" name="vncdelay" value="<%= settings['vnc-delay']%>" step="10" />
            <br>
            <span>Najnowsza wersja emmet client:</span>
            <input type="text" name="version" value="<%= settings['version']%>"/>
            <br>
            <input type="submit" value="Zapisz" />

          </div>

        </form>
      </div>
    </div>
    <script src="./js/settings.js"></script>
  </body>
</html>
