#bg{
    width: 100%;
    height: 100vh;
  }
  #bg1{
    width: 100%;
    height: 100vh;
    display: none;
  }      
  video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100vh;
    transform: translate(-50%, -50%);
    z-index: -1;
    object-fit: fill;
  
  }
  @media (min-aspect-ratio: 16/9) {
    #bg video {
      /* height = 100 * (9 / 16) = 56.25 */
      height: 56.25vw;
    }
  }
      
  @media (max-aspect-ratio: 16/9) {
    #bg video {
      /* width = 100 / (9 / 16) = 177.777777 */
      width: 177.78vh;
    }
  }
  .sidebar {
    
    background-color: rgba(255, 255, 255, 0.2) !important;
    z-index: 100;
  }
  body{
    background-color: rgba(242, 242, 242, 0.1) !important;
    color: white;
  }
  .computer-card{
    background-color: rgba(242, 242, 242, 0.3) !important;
    box-shadow: 0 0 20px 8px #050505 !important;

  }
  @-moz-document url-prefix() {
    #bg{
        display: none !important;
      }
      #bg1{
        display: block !important;
      }  
  }
#upload_area {
    width: 100%;
    height: 100vh;
    position: absolute;
}
#courtine{
    position: fixed;
    width: 100%;
    height: 100vh;
    display: none;
    pointer-events: none !important; 
    z-index: 10 !important;

}
.dragover{
opacity: 0.7 !important;
display: block !important;
background-color: black !important;


}
.upload-text{
    
    
    position: absolute; /* or absolute */
    top: 50%;
    left: 50%;
}
