<div class="computer-card" clientname="<%= clientname%>">
    <div class="info" onclick="showoptions(this)">
      <i class="fas fa-circle" style="color: gray"></i>
      <a><%= clientname%> <%= lastseen%></a>
    </div>
    
    <div class="options">
      <button
      class="delete-button"
      style="color: red"
      onclick="removeclient(this)"
    >
      <i class="fas fa-trash"></i><snap>Usuń</snap>
    </button>
      <button class="log-button" onclick="window.location.href = `/logs/<%= clientname%>`">
        <i style="color: gold" class="fas fa-file"></i><snap>Logi</snap>
      </button>

    </div>
  </div>