<div class="computer-card" clientname="<%= clientname%>">
    <div class="info">
      <i class="fas fa-circle" style="color: gray"></i>
      <a><%= clientname%></a>
    </div>
    
    <div class="options">
      <button
      class="delete-button"
      style="color: red"
    >
      <i class="fas fa-trash"></i>Usun
    </button>
      <button class="log-button">
        <i style="color: gold" class="fas fa-file"></i>Logi
      </button>

    </div>
  </div>