<link rel="stylesheet" href="/css/sidebar.css">
<div class="sidebar" id="menu">
    <div class="sidebar-content">

        <ul>
            <h1>Witaj <%= username %>
            </h1>

            <li><a href="/dashboard">Dashboard</a></li>
            <li><a href="/settings">Ustawienia</a></li>
            <li><a href="/ftp">FTP</a></li>
            <li>
                <form action="/logout" method="post">
                    <button type="submit">Wyloguj</button>
                </form>
            </li>
        </ul>
    </div>
</div>


<script src="././js/swipe.min.js"></script>
<script>
    document.addEventListener('swiped-right', function(e) {
        console.log("swipe right")
        $("#menu").animate({ left: "0" });
      });
      document.addEventListener('swiped-left', function(e) {
        console.log("swipe left")
        $("#menu").animate({ left: "-100%" });
      });
  </script>